@using global::ViewModels.Patient
@using global::ViewModels.Shared
@model EditUserViewModel<PatientDataViewModel>
@{
    ViewData["Title"] = "Profile " + Model.UserName;
}

<h1>Profile @Model.UserName</h1>
<br />
<partial name="_PatientPartial" for="Data" />
<div>
    <a asp-action="@nameof(PatientsController.Dashboard)" class="btn btn-secondary">Back</a>
    <a asp-action="@nameof(PatientsController.Edit)" asp-route-id="@Model.Id" asp-route-returnUrl="@Url.Action(nameof(PatientsController.Profile), new { Model.Id })" class="btn btn-primary">Edit</a>
</div>


