@model Doctor.DoctorEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Doctor.FirstName" class="control-label"></label>
    <input asp-for="Doctor.FirstName" class="form-control" />
    <span asp-validation-for="Doctor.FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Doctor.LastName" class="control-label"></label>
    <input asp-for="Doctor.LastName" class="form-control" />
    <span asp-validation-for="Doctor.LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Doctor.Gender"></label>
    <select asp-for="Doctor.Gender" class="form-control">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <span asp-validation-for="Doctor.Gender" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Doctor.Address" class="control-label"></label>
    <input asp-for="Doctor.Address" class="form-control" />
    <span asp-validation-for="Doctor.Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Doctor.Phone" class="control-label"></label>
    <input asp-for="Doctor.Phone" class="form-control" />
    <span asp-validation-for="Doctor.Phone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Doctor.Email" class="control-label"></label>
    <input asp-for="Doctor.Email" class="form-control" />
    <span asp-validation-for="Doctor.Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Doctor.DateOfBirth" class="control-label"></label>
    <input asp-for="Doctor.DateOfBirth" class="form-control" />
    <span asp-validation-for="Doctor.DateOfBirth" class="text-danger"></span>
</div>
<div class="form-group">
    @Html.DisplayNameFor(model => model.Specializations)
    @* <span asp-validation-for="SpecializationIds" class="text-danger"></span> *@
    <ul class="list-group">
        @for (var i = 0; i < @Model.Specializations.Length; i++)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label asp-for="@Model.Specializations[i].IsSelected">@Model.Specializations[i].Name</label>
                <input asp-for="@Model.Specializations[i].IsSelected" style="transform: scale(1.5);" />
                <input type="hidden" asp-for="@Model.Specializations[i].Id" />
                <input type="hidden" asp-for="@Model.Specializations[i].Name" />
            </li>
        }
    </ul>
</div>

@* @section Scripts 
{
    <script>
        // Add custom validator for SpecializationIds
        $.validator.addMethod('requiredspecializations', function (value, element) {
            // Check if there are any hidden inputs with name SpecializationIds
            return $('input[name="Model.SpecializationIds"]:checked').length > 0;
        }, 'At least one specialization must be selected.');

        $.validator.unobtrusive.adapters.addBool('requiredspecializations');
    </script>
} *@