@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Doctor.DoctorListItemViewModel>

@{
    ViewData["Title"] = "Doctors";
}

<h1>Doctors</h1>
<br />
<p>
    <a asp-action="@nameof(DoctorsController.Create)" class="btn btn-primary">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().FirstName)</th>
            <th>@Html.DisplayNameFor(m => m.First().LastName)</th>
            <th>@Html.DisplayNameFor(m => m.First().Email)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@Html.DisplayFor(item => doctor.FirstName)</td>
                <td>@Html.DisplayFor(item => doctor.LastName)</td>
                <td>@Html.DisplayFor(item => doctor.Email)</td>
                <td>
                    <a asp-action="@nameof(DoctorsController.Manage)" asp-route-id="@doctor.Id" class="btn btn-outline-primary">Manage</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Pagination controls -->
<div>
    @Html.PagedListPager(Model, page => Url.Action(nameof(DoctorsController.Index), new { page = page }),
    new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }})
</div>

<!-- Page information -->
<p>
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Admins
</p>
