@using global::ViewModels.Doctor;
@using global::ViewModels.User;
@model EditViewModel<DoctorSpecsView>

@{
    ViewData["Title"] = "Profile " + Model.UserName;
}

<h1>Profile @Model.UserName</h1>
<br />
<partial name="_DoctorPartial" for="Data" />
<partial name="_DoctorSpecializationsPartial" for="Data.SpecializationNames" />
<br />
<div>
    <a asp-action="@nameof(DoctorsController.Dashboard)" class="btn btn-secondary">Back</a>
    <a asp-action="@nameof(DoctorsController.Edit)" asp-route-id="@Model.Id" asp-route-returnUrl="@Url.Action(nameof(DoctorsController.Profile))" class="btn btn-primary">Edit</a>
</div>