@using X.PagedList.Mvc.Core
@using global::ViewModels.Admin
@model X.PagedList.IPagedList<AdminIndexViewModel>

@{
    ViewData["Title"] = "Administrators";
}

<h1>Administrators</h1>
<br />
<p>
    <a asp-action="@nameof(AdminsController.Create)" class="btn btn-primary">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().FirstName)</th>
            <th>@Html.DisplayNameFor(m => m.First().LastName)</th>
            <th>@Html.DisplayNameFor(m => m.First().Email)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Model)
        {
            <tr>
                <td>@Html.DisplayFor(item => admin.FirstName)</td>
                <td>@Html.DisplayFor(item => admin.LastName)</td>
                <td>@Html.DisplayFor(item => admin.Email)</td>
                <td>
                    <a asp-action="@nameof(AdminsController.Manage)" asp-route-id="@admin.Id" class="btn btn-outline-primary">Manage</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Pagination controls -->
<div>
    @Html.PagedListPager(Model, page => Url.Action(nameof(AdminsController.Index), new { page = page }),
    new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
</div>

<!-- Page information -->
<p>
    @Model.FirstItemOnPage - @Model.LastItemOnPage of @Model.TotalItemCount Admins
</p>
