@using global::ViewModels.Admin;
@using global::ViewModels.User;
@model EditViewModel<AdminDataViewModel>

@{
    ViewData["Title"] = "Profile " + Model.UserName;
}

<h1>Profile @Model.UserName</h1>
<br />
<partial name="_AdminPartial" for="Data" />
<div>
    <a asp-action="@nameof(AdminsController.Dashboard)" class="btn btn-secondary">Back</a>
    <a asp-action="@nameof(AdminsController.Edit)" asp-route-id="@Model.Id" asp-route-returnUrl="@Url.Action(nameof(AdminsController.Profile))" class="btn btn-primary">Edit</a>
</div>