@using X.PagedList.Mvc.Core
@using global::ViewModels.Specialization;
@model X.PagedList.IPagedList<SpecViewModel>

@{
    ViewData["Title"] = "Specializations";
}

@section Scripts {
    <script src="~/js/specializations/delete-spec.js"></script>
}

<h1>Specializations</h1>
<br />
<p>
    <a asp-action="@nameof(SpecializationsController.Create)" class="btn btn-primary">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
        </tr>
    </thead>
    <tbody id="specList">
        @foreach (var spec in Model)
        {
            <tr>
                <td>@Html.DisplayFor(item => spec.Name)</td>
                <td>
                    <a asp-action="@nameof(SpecializationsController.Edit)" asp-route-id="@spec.Id" class="btn btn-outline-primary">Edit</a>
                    <a class="btn btn-outline-danger" onclick="deleteSpec('@spec.Id')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Pagination controls -->
<div>
    @Html.PagedListPager(Model, page => Url.Action(nameof(SpecializationsController.Index), new { page = page }),
    new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }})
</div>

<!-- Page information -->
<p>
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Specializations
</p>
